
<div class="w-[95%] m-auto mt-[6rem] text-[1.2em] px-4 py-4">
  <div class="flex items-center gap-4 px-2">
    <span class="text-[#8C8C8C] font-[400]">Date of exchange rate list:</span>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.6667 2.66663H2.33333C1.59695 2.66663 1 3.26358 1 3.99996V13.3333C1 14.0697 1.59695 14.6666 2.33333 14.6666H11.6667C12.403 14.6666 13 14.0697 13 13.3333V3.99996C13 3.26358 12.403 2.66663 11.6667 2.66663Z" 
          stroke="#5B92D7" 
          stroke-linecap="round" 
          stroke-linejoin="round"
      />
      <path d="M9.66663 1.33337V4.00004" stroke="#5B92D7" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M4.33337 1.33337V4.00004" stroke="#5B92D7" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M1 6.66663H13" stroke="#5B92D7" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    <span class="font-[400]"><%= todays_date() %></span>
  </div>

  <div class="w-full mt-8 flex items-end justify-between border-b border-[#D9D9D9]">

    <div class="flex gap-6">
      <div class={"page-tab #{if @active_tab == :securities, do: "securities"}"} >
        <%= live_patch "List of securities", to: Routes.securities_index_path(@socket, :securities), 
          class: "page-link"
        %>
        <div class="tab-line"></div>
      </div>
      <div class={"page-tab #{if @active_tab == :bargains, do: "bargains"}"}>
        <%= live_patch "List of bargain securities", to: Routes.securities_index_path(@socket, :bargains), 
          class: "page-link"
        %>
        <div class="tab-line"></div>
      </div>
      <div class={"page-tab #{if @active_tab == :calculator, do: "calculator"}"}>
        <%= live_patch "Calculator", to: Routes.calculator_path(@socket, :index), class: "page-link"
        %>
        <div class="tab-line"></div>
      </div>
    </div>

    <div></div>

  </div>

</div>

<section class="p-4">

<table class="securities-table">
  <thead>
    <tr>
      <th class="">
        <div class="flex justify-center items-center gap-2">
          Issuer
        </div>
      </th>
      <th class="">
        <div class="w-max flex justify-center items-center gap-2">
          Last transaction date
        </div>
      </th>
      <th class="" >
        <div class="flex justify-center items-center gap-2">
            Price
        </div>
      </th>
      <th class="" >
        <div class="flex justify-center items-center gap-2">
            Nominal price
        </div>
      </th>
      <th class="" colspan="2">
        <div class="flex justify-center items-center gap-2">
            Ask
        </div>
      </th>
      <th class="" colspan="2">
        <div class="flex justify-center items-center gap-2">
            Bid
        </div>
      </th>
      <th class="" >
        <div class="flex justify-center items-center gap-2">
            Dividend ROI (%)
        </div> 
      </th>
      <th class="">
        <div class="flex justify-center items-center gap-2">
            EPS ROI (%)
        </div>
      </th>
      <th class="">
        <div class="flex justify-center items-center gap-2">
            P/E
        </div>
      </th>
      <th class="">
        <div class="flex justify-center items-center gap-2">
            P/B
        </div>
      </th>
      <th class="" colspan="2">
        <div class="flex justify-center items-center gap-2">
            Market Value
        </div>
      </th>
      <th class="" colspan="2">
        <div class="flex justify-center items-center gap-2">
            Book Value
        </div>
      </th>
      <th class="">
        <div class="flex justify-center items-center gap-2">
            BVS
        </div>
      </th>
      <th class="">
        <div class="flex justify-center items-center gap-2">
            Profit margin
        </div>
      </th>
    </tr>
  </thead>
  <tbody id="securities">
    <%= for security <- @securities do %>
      <tr id={"security-#{security.symbol}"}>
        <td class=" p-2 2xl:px-4 2xl:py-2">
          <a href={"http://www.sase.ba/v1/Tržište/Emitenti/Profil-emitenta/symbol/#{security.symbol}"} target="_blank" 
            class=" text-blue-400"
          >
            <%= security.symbol %>
          </a>
          <br />
          <span class=""><%= security.name %></span><br />
          <span class=""><%= Securities.segment(security.segment) %></span>
        </td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= convert_date(security.last_trade_date) %></td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= Decimal.round(security.price, 2) %></td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= Decimal.round(security.nominal_price, 2) %></td>
        <td class="p-2 2xl:px-4 2xl:py-2" colspan="2">
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(security.ask_price, 2) %></span>
                <span class=""><%= security.ask_volume %></span>
            </div>            
        </td>
        <td class="p-2 2xl:px-4 2xl:py-2" colspan="2">
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(security.bid_price, 2) %></span>
                <span class=""><%= security.bid_volume %></span>
            </div>
        </td>
        <td class="p-2 2xl:px-4 2xl:py-2 ">
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(Decimal.mult(security.dividend_roi, 100), 2) %>%</span>
                <span class=""><%= Decimal.round(Decimal.mult(security.previous_dividend_roi, 100), 2) %>%</span>
            </div>
        </td>
        <td class="p-2 2xl:px-4 2xl:py-2 " >
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(Decimal.mult(security.eps_roi, 100), 2) %>%</span>
                <span class=""><%= Decimal.round(Decimal.mult(security.previous_eps_roi, 100), 2) %>%</span>
            </div>
        </td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2 " ><%= Decimal.round(security.pe, 2) %></td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2 " ><%= Decimal.round(security.pb, 2) %></td>
        <td class=" 2xl:text-xl p-2 2xl:px-4 2xl:py-2 " colspan="2"><%= Decimal.round(security.market_value, 0) %></td>
        <td class="p-2 2xl:px-4 2xl:py-2 " colspan="2">
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(security.book_value, 0) %></span>
                <span class=""><%= Decimal.round(security.previous_book_value, 0) %></span>
            </div>
        </td>
        <td class="p-2 2xl:px-4 2xl:py-2" >
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(security.bvs, 2) %></span>
                <span class=""><%= Decimal.round(security.previous_bvs, 2) %></span>
            </div>
        </td>
        <td class="p-2 2xl:px-4 2xl:py-2 " >
            <div class="flex flex-col gap-4">
                <span class=""><%= Decimal.round(Decimal.mult(security.profit_margin, 100), 2) %>%</span>
                <span class=""><%= Decimal.round(Decimal.mult(security.previous_profit_margin, 100), 2) %>%</span>
            </div>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

  <%= if Enum.empty?(@securities) do %>
    <tr>
      <p class="w-max m-auto my-[4rem] text-[1.2em] alert alert-info"> 
      No results found!
      </p>
    </tr>
  <% end %>

</section>
