_build/
.elixir_ls/
.git/
.github/
.log/
assets/node_modules/
cover/
deps/
doc/
priv/static/
queries/
releases/
screenshots/
test/
tmp/
*.ez
.DS_Store
.env
.env.prod.sample
.env.sample
.formatter.exs
.gitattributes
.gitignore
.tool-versions
erl_crash.dump
fly.toml
README.md
