<section class="px-2 2xl:px-6 relative">
  <HeaderComponent.header active_tab={@active_tab} />

  <div class="relative">
    <div class="mb-2 md:absolute md:right-16 md:-top-8 md:-translate-y-[100%] xl:right-16">
      <.live_component module={FilterFormComponent} id="filter_form" filter={@filter_options} />
    </div>

    <div class="md:mx-12 xl:mx-16 overflow-y-auto max-h-[70vh]">
      <p class="my-6 text-2xl font-normal mx-auto">List of investors</p>

      <table class="investors-table font-montserrat overflow-hidden whitespace-nowrap">
        <thead>
          <tr>
            <th>#</th>

            <th :for={table_column <- @table_columns} class="">
              <div class="uppercase flex justify-center items-center gap-2">
                <TableComponents.sort_link column={table_column} sort_options={@sort_options} />
              </div>
            </th>
          </tr>
        </thead>

        <tbody id="investors-list">
          <tr
            :for={{index, investor} <- investor_list_with_index(@investors_list)}
            id={"investor-#{investor.name}"}
            class="hover:bg-[#b7deff]"
          >
            <td class="text-center p-4 2xl:px-4 2xl:py-2 w-[10%]" colspan="1">
              <%= index %>
            </td>
            <td class="text-center p-4 2xl:px-4 2xl:py-2 w-[60%]" colspan="1">
              <.link navigate={~p"/investors/#{investor.name_slug}"} class="text-blue-400">
                <span><%= investor.name %></span>
              </.link>
            </td>
            <td class="text-center p-4 2xl:px-4 2xl:py-2 w-[20%]" colspan="1">       
              <%= format_total_capital(investor.total_capital) %>    
            </td>

            <td class="text-center p-4 2xl:px-4 2xl:py-2 w-[10%]" colspan="1">
              <%= investor.company_number %>
            </td>
          </tr>
        </tbody>

        <tfoot></tfoot>
      </table>

      <div id="infinite-scroll-marker" phx-hook="TableInfiniteScroll" data-page-number={@page} />
    </div>
    <p class="text-xs py-4 fixed bottom-0 bg-white">
      <span class="font-bold">Note:</span>
      <span class="italic">
        Data is not accurate as it as based only on the top 10 investors for the companies 
      </span>
    </p>
  </div>
</section>
