/* This file is for your main application CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*:after,
*:before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  -webkit-appearance: none;
}

body {
  color: #000000;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

.container {
  @apply relative w-[100%] flex flex-col sm:max-w-[100%];
}

/* Inputs, buttons */

button,
.button,
button[type='submit'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  transition: all 0.2s ease-in-out;
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  color: #f6f6f6;
  cursor: default;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #1e1e1e;
}
.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: #9db9d3;
  color: #1e1e1e;
}
.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: #bdbcbc;
  background: #e9e9e9;
  color: #a7a5a6;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9db9d3;
  cursor: pointer;
  text-decoration: underline;
}
.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  color: #9db9d3;
}
.button.button-clear[disabled]:focus,
.button.button-clear[disabled],
button.button-clear[disabled]:focus,
button.button-clear[disabled],
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled],
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled],
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled] {
  color: #606c76;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3rem 0;
}

/* Other inputs */

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  box-shadow: none;
  box-sizing: inherit;
  width: 100%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  outline: none;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: none;
}

select {
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.6rem;
  box-shadow: none;
  box-sizing: inherit;
  font-size: 1.1em;
  font-weight: 300;
  padding: 1rem;
}

select:hover {
  @apply border-[#acacac] cursor-pointer;
}

select[multiple] {
  background: none;
  height: auto;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
}
fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

input[type='checkbox'],
input[type='radio'] {
  border-radius: 5px;
  cursor: pointer;
  width: 1.4em;
  height: 1.4em;
  border-radius: 100%;
}

input[type='radio'] {
  width: 1.3em;
  height: 1.3em;
}

input[type='checkbox']:hover,
input[type='radio']:hover {
  color: #606c76;
  outline: 0;
  border-radius: 100%;
}

a {
  color: #9db9d3;
  text-decoration: none;
  cursor: pointer;
}

/* General style */

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
}
h2 {
  font-size: 3rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.8rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.4rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* Tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

td,
th {
  padding: 1.2rem 1.5rem;
}

/* Calculator table */

.data-table > thead > tr > th {
  @apply px-8 py-4 text-gray-800 bg-gray-200 text-center font-normal text-base;
}

.data-table > tbody > tr:last-child {
  @apply border-t border-gray-200;
}

.data-table > tbody > tr > td:last-child {
  @apply opacity-0 text-center pl-24 pr-4;
}

.data-table > tbody > tr:hover td:last-child {
  @apply opacity-100;
}

.data-table > tbody > tr:not(:last-child):hover {
  @apply bg-blue-50;
}

.delete-row {
  @apply cursor-pointer;
}

/* Securities table */

.table-wrapper {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.table-wrapper::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.securities-table {
  @apply border-collapse w-full m-auto;
}

.securities-table > thead {
  @apply sticky top-0 h-11;
}

.securities-table > tfoot {
  @apply sticky bottom-0;
}

.securities-table > thead > tr > th {
  @apply text-white bg-blue-dark-200 text-center font-semibold text-xs px-0 py-2 2xl:text-sm 2xl:py-4 2xl:px-2;
}

.securities-table > thead > tr > th:first-child {
  @apply px-4 2xl:px-8;
}

.securities-table > thead > tr > th:last-child {
  @apply px-4 2xl:pr-0;
}

.securities-table > tbody > tr {
  @apply border-b border-gray-200;
}

.securities-table tbody tr td,
.securities-table tbody tr th {
  @apply text-gray-800 text-xs 2xl:text-sm;
}

.securities-table tbody tr td {
  @apply pr-2 pl-0 leading-4 2xl:leading-5 font-normal;
}

.sortable-column {
  @apply flex justify-around items-center gap-1 2xl:justify-center 2xl:gap-2 cursor-pointer;
}

.sortable-column span {
  @apply w-fit;
}

.rotate-up svg {
  transform: rotateX(180deg);
  @apply duration-[200ms] ease-linear;
}

.rotate-down svg {
  transform: rotateX(0deg);
  @apply duration-[200ms] ease-linear;
}

/* Header with page links */

.page-tab {
  @apply relative cursor-pointer;
}

.page-link {
  @apply block h-full py-4 text-gray-450 text-sm xl:text-base font-normal px-6 duration-300 ease-in-out;
}

.page-tab:hover a {
  @apply text-gray-750;
}

.tab-line {
  @apply absolute -bottom-0.75 w-0 bg-blue-dark-200 h-0.5 rounded-xl;
}

.page-tab.securities .tab-line,
.page-tab.bargains .tab-line,
.page-tab.calculator .tab-line {
  @apply animate-[show-tab-line_0.4s_ease-in-out_forwards];
}

@keyframes show-tab-line {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* Alerts and form errors used by phx.new */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  @apply text-red-700 block my-4 ml-4;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

/* LiveView specific classes for your customization */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-no-feedback .label-invalid {
  @apply text-[#9A9A9A];
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes show-table-rows {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
