/* This file is for your main application CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*,
*:after,
*:before {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #000000;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

.container {
  @apply relative overflow-hidden w-[100%] flex flex-col sm:max-w-[100%];
}

/* Inputs, buttons */

button,
.button,
button[type='submit'],
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9db9d3;
  border: 0.1rem solid #9db9d3;
  /* border-radius: 10px; */
  color: #fff;
  cursor: pointer;
  display: inline-block;
  /* font-size: 1em; */
  /* font-weight: 700; */
  font-weight: bold;
  letter-spacing: 0.1rem;
  /* line-height: 3.8rem; */
  /* padding: 0 3rem; */
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.button:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  transition: all 0.2s ease-in-out;
  background-color: #6775af;
  border-color: #6775af;
  color: #fff;
  outline: 0;
}

.button[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  background-color: #e9e9e9;
  border: 0.1rem solid #e9e9e9;
  color: #a7a5a6;
  cursor: default;
}

.button.button-outline,
button.button-outline,
input[type='button'].button-outline,
input[type='reset'].button-outline,
input[type='submit'].button-outline {
  background-color: transparent;
  color: #1e1e1e;
}
.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  background-color: transparent;
  border-color: #9db9d3;
  color: #1e1e1e;
}
.button.button-outline[disabled]:focus,
.button.button-outline[disabled]:hover,
button.button-outline[disabled]:focus,
button.button-outline[disabled]:hover,
input[type='button'].button-outline[disabled]:focus,
input[type='button'].button-outline[disabled]:hover,
input[type='reset'].button-outline[disabled]:focus,
input[type='reset'].button-outline[disabled]:hover,
input[type='submit'].button-outline[disabled]:focus,
input[type='submit'].button-outline[disabled]:hover {
  border-color: #bdbcbc;
  background: #e9e9e9;
  color: #a7a5a6;
}

.button.button-clear,
button.button-clear,
input[type='button'].button-clear,
input[type='reset'].button-clear,
input[type='submit'].button-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9db9d3;
  cursor: pointer;
  text-decoration: underline;
}
.button.button-clear:focus,
.button.button-clear:hover,
button.button-clear:focus,
button.button-clear:hover,
input[type='button'].button-clear:focus,
input[type='button'].button-clear:hover,
input[type='reset'].button-clear:focus,
input[type='reset'].button-clear:hover,
input[type='submit'].button-clear:focus,
input[type='submit'].button-clear:hover {
  color: #9db9d3;
}
.button.button-clear[disabled]:focus,
.button.button-clear[disabled],
button.button-clear[disabled]:focus,
button.button-clear[disabled],
input[type='button'].button-clear[disabled]:focus,
input[type='button'].button-clear[disabled],
input[type='reset'].button-clear[disabled]:focus,
input[type='reset'].button-clear[disabled],
input[type='submit'].button-clear[disabled]:focus,
input[type='submit'].button-clear[disabled] {
  color: #606c76;
}

hr {
  border: 0;
  border-top: 0.1rem solid #f4f5f6;
  margin: 3rem 0;
}

/* Other inputs */

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='week'],
input:not([type]),
textarea,
select {
  -webkit-appearance: none;
  background-color: transparent;
  box-shadow: none;
  box-sizing: inherit;
  width: 100%;
}

input[type='color']:focus,
input[type='date']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='email']:focus,
input[type='month']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
input[type='week']:focus,
input:not([type]):focus,
textarea:focus,
select:focus {
  outline: 0;
}

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  outline: none;
  --tw-ring-inset: var(--tw-empty);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #404248;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

select {
  border: 0.1rem solid #d1d1d1;
  border-radius: 0.6rem;
  box-shadow: none;
  box-sizing: inherit;
  font-size: 1.1em;
  font-weight: 300;
  padding: 1rem;
  width: 100%;
}

select:hover {
  @apply border-[#acacac] cursor-pointer;
}

select[multiple] {
  background: none;
  height: auto;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

input[type='checkbox'],
input[type='radio'] {
  border-radius: 5px;
  cursor: pointer;
  width: 1.4em;
  height: 1.4em;
  border-radius: 100%;
}

input[type='radio'] {
  width: 1.3em;
  height: 1.3em;
}

input[type='checkbox']:hover,
input[type='radio']:hover {
  color: #606c76;
  outline: 0;
  border-radius: 100%;
}

a {
  color: #9db9d3;
  text-decoration: none;
  cursor: pointer;
}

/* Tables */

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}

td,
th {
  padding: 1.2rem 1.5rem;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}

/* Securities table */

.securities-table {
  @apply border-collapse w-full m-auto my-4;
}

.securities-table > thead > tr > th {
  @apply text-white bg-[#9DB9D3] text-center font-[700] text-[0.95em] 2xl:text-[1em] px-6 py-6 2xl:py-8 2xl:px-4;
}

.securities-table > thead > tr > th:first-child {
  @apply px-4 2xl:px-8;
}

.securities-table > thead > tr > th:last-child {
  @apply px-4 2xl:px-8;
}

.securities-table > tbody > tr {
  @apply border-b border-gray-200;
}

.securities-table tbody tr td,
.securities-table tbody tr th {
  @apply text-center text-[#1E1E1E] text-[1em] 2xl:text-[1.1em];
}

.sortable-column {
  @apply flex justify-center items-center gap-4 cursor-pointer;
}

.sortable-column span {
  @apply w-fit;
}

.rotate-up svg {
  transform: rotateX(180deg);
  @apply duration-500 ease-linear;
}

.rotate-down svg {
  transform: rotateX(0deg);
  @apply duration-500 ease-linear;
}

/* Header with page links */

.page-link {
  @apply block h-full py-5 text-[#8C8C8C] text-[0.95em] font-[400] px-8 duration-300 ease-in-out;
}

.page-tab {
  @apply relative cursor-pointer;
}

.page-tab:hover a {
  @apply text-[#3b3a3a];
}

.tab-line {
  @apply w-0 bg-[#9DB9D3] h-[2px] rounded-xl;
}

.page-tab.securities .tab-line,
.page-tab.bargains .tab-line,
.page-tab.calculator .tab-line {
  @apply absolute -bottom-[4px] animate-[show-tab-line_0.4s_ease-in-out_forwards];
}

@keyframes show-tab-line {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* Table search form */

.table-form {
  @apply relative;
}

.search-icon {
  @apply absolute w-max right-6 top-[50%] -translate-y-[50%];
}

.search-field {
  @apply text-[1em] duration-150 ease-linear text-[#3e3e3e] my-2 pl-8 pr-14 py-3 rounded-xl border border-[#D9D9D9];
}

.search-field::placeholder {
  @apply text-[#9A9A9A];
}

.search-field:focus {
  @apply border-[#bababa];
}

/* Calculator */

.calc-select {
  @apply border border-[#979797] rounded-[0.8rem] text-[1em] font-[300] py-[1.5rem] pr-[5rem] pl-[0.5rem];

  background: url('data:image/svg+xml;utf8,<svg width="14" height="8" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L7.08696 7L13 1" stroke="%23999999" stroke-width="2" stroke-linecap="round"/></svg>')
    95% no-repeat;
}

.calc-select:hover {
  @apply border-[#5f5f5f] cursor-pointer;
}

.calc-select:focus {
  @apply border-[#5f5f5f];
  background: url('data:image/svg+xml;utf8,<svg width="14" height="8" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 8L7.08696 2L13 8" stroke="%23999999" stroke-width="2" stroke-linecap="round"/></svg>')
    95% no-repeat;
}

.calc-select::placeholder {
  @apply text-[#B5B5B5];
}

.calc-field {
  @apply border border-[#979797] p-[1rem] rounded-[0.8rem] shadow-none text-[1.2em] font-[300] text-center;
}

.calc-field::placeholder {
  @apply text-[1.2em] text-[#B5B5B5];
}

.calc-field:focus {
  @apply outline-none border-[#565656];
}

/* General style */

b,
strong {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.1rem;
  margin: 1rem 0;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
}
h2 {
  font-size: 3rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}
h4 {
  font-size: 1.8rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}
h5 {
  font-size: 1.4rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.2rem;
  letter-spacing: 0;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes show-table-rows {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
