
<section class="p-6">

  <HeaderComponent.header
    socket={@socket}
    active_tab={@active_tab}
   />     

  <.form 
    let={f} 
    for={@changeset} 
    phx-submit="calculate"
    phx-change="validate"
    class="px-4 my-14 border-b border-[#D9D9D9]" 
  >  
    <div class="flex flex-row items-end gap-8 pb-12">

      <div class="">
          <%= label f, :symbol, "Issuer/Symbol", class: "flex w-max text-[#9A9A9A]" %>
          <%= select f, :symbol, @symbols_list, prompt: "SELECT", class: "calc-select" %>
      </div>

      <div class="w-[190px]">
        <%= label f, :price, "Price", class: "flex w-max text-[#9A9A9A]" %>
        <%= text_input f, :price, placeholder: "0.00 KM", class: "calc-field", phx_debounce: :blur %>
      </div>

      <div class="w-[190px]">
        <%= label f, :amount, "Amount", class: "flex w-max text-[#9A9A9A]" %>
        <%= text_input f, :amount, placeholder: "0", class: "calc-field", phx_debounce: :blur %>
      </div>

      <div class="w-[190px]">
        <%= label f, :fee, "Fee percentage", class: "flex w-max text-[#9A9A9A]" %>
        <%= text_input f, :fee, placeholder: "0%", class: "w-10 calc-field", phx_debounce: :blur %>
      </div>

      <div class="w-[190px]">
        <%= submit "Calculate",
            id: "calculate-btn",
            type: "submit",
            class: "py-[0.5rem] rounded-[6px] px-[2.5rem] text-[1.3em] font-[400]"           
        %>
      </div>

    </div>

    <div>
      <%= error_tag f, :symbol %> 
      <%= error_tag f, :price  %>
      <%= error_tag f, :amount %>
      <%= error_tag f, :fee %>
    </div>

    <p class="text-[#9A9A9A] mb-2">To calculate the price, please enter your requirements.</p>

  </.form>

  <%= if @changeset.valid? && length(@results.securities) > 0 do %>

    <p class="text-2xl">Stock prices</p>

    <table class="overflow-scroll h-auto w-full mt-8">
      <thead>
        <th class="text-center px-4">Symbol</th>
        <th class="text-center px-4">Name</th>
        <th class="text-center px-4">Amount</th>
        <th class="text-center px-4">Price in KM</th>
        <th class="text-center px-4">Total without fee percentage in KM</th>
        <th class="text-center px-4">Total with fee percentage in  KM</th>
      </thead>

      <tbody>
        <%= for result <- @results.securities do %>
          <tr class="h-8">
            <td class="text-center text-blue-400 px-4">
              <a href={"http://www.sase.ba/v1/Tržište/Emitenti/Profil-emitenta/symbol/#{ result.symbol }"} target="_blank">
                <%= result.symbol %>
              </a>
            </td>
            <td class="text-center px-4"><%= result.name %></td>
            <td class="text-center px-4"><%= Decimal.round(result.amount, 0) %></td>
            <td class="text-center px-4"><%= Decimal.round(result.price, 4) %></td>
            <td class="text-center px-4"><%= Decimal.round(result.total_without_fee, 4) %></td>
            <td class="text-center px-4"><%= Decimal.round(result.total_with_fee, 4) %></td>
          </tr>
        <% end %>

        <tr class="h-12">
          <td class="px-4 text-center">TOTAL</td>
          <td class="px-4"></td>
          <td class="px-4"></td>
          <td class="px-4"></td>
          <td class="px-4 text-center"><%= Decimal.round(@results.total_without_fee, 4) %></td>
          <td class="text-center px-4"><%= Decimal.round(@results.total_with_fee, 4) %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

</section>
