<table class="overflow-scroll h-auto w-full" id="securities-list" phx-hook="SecuritiesList">
  <thead>
    <tr>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Issuer</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Price</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Nominal price</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Ask</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Bid</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Dividend ROI (%)</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">EPS ROI (%)</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">P/E</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">P/B</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800" colspan="2">Market Value</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800" colspan="2">Book Value</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">BVS</th>
      <th class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-b border-gray-800">Profit margin</th>
    </tr>
  </thead>

  <tbody>
    <%= for security <- @securities do %>
      <tr class="transition-colors <%= if(security.newest, do: " bg-red-300", else: if(security.new, do: " bg-yellow-300", else: "")) %>">
        <td class="text-center p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" rowspan="2">
          <a href="http://www.sase.ba/v1/Tržište/Emitenti/Profil-emitenta/symbol/<%= security.symbol %>" target="_blank" class="2xl:text-xl text-blue-400"><%= security.symbol %></a><br />
          <span class="2xl:text-lg"><%= security.name %></span><br />
          <span class="2xl:text-lg"><%= segment(security.segment) %></span>
        </td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" rowspan="2"><%= format_number(security.price, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" rowspan="2"><%= format_number(security.nominal_price, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_number(security.ask_price, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_number(security.bid_price, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_percentage(security.dividend_roi) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_percentage(security.eps_roi) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" rowspan="2"><%= format_number(security.pe, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" rowspan="2"><%= format_number(security.pb, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" colspan="2" rowspan="2"><%= format_number(security.market_value, 0) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400" colspan="2"><%= format_number(security.book_value, 0) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_number(security.bvs, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2 border-t border-gray-400"><%= format_percentage(security.profit_margin) %></td>
      </tr>
      <tr class="transition-colors <%= if(security.newest, do: " bg-red-300", else: if(security.new, do: " bg-yellow-300", else: "")) %>">
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_number(security.ask_volume) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_number(security.bid_volume) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_percentage(security.previous_dividend_roi) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_percentage(security.previous_eps_roi) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2" colspan="2"><%= format_number(security.previous_book_value, 0) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_number(security.previous_bvs, 2) %></td>
        <td class="text-center 2xl:text-xl p-2 2xl:px-4 2xl:py-2"><%= format_percentage(security.previous_profit_margin) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
